locust==2.6.1
opentelemetry-api==1.8.0
opentelemetry-exporter-otlp-proto-grpc==1.8.0
opentelemetry-instrumentation==0.27b0
opentelemetry-instrumentation-requests==0.27b0
opentelemetry-instrumentation-urllib3==0.27b0
opentelemetry-sdk==1.8.0
requests==2.27.1
urllib3==1.26.8